<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>пр2</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<div th:insert="Blocks/Header"></div>
<body style="background: black">

<h1 style="color: white" Поставка/></h1>
<table>
  <tr>
    <td>

    </td>
    <td>
      <form  th:action="'/Add/Postavka'">
        <button class="btn btn-warning" type="submit">Добавить поставку</button>
      </form>
    </td>
  </tr>
</table>

<div th:each="el : ${postavka}">
  <h3 style="color: white"><b> № поставки -  </b> <span th:text="*{el.nomerP}" /></h3>
  <p style="color: white"><b>Наименование авто -   </b> <span th:text="*{el.nameAvto}"/></p>
  <p style="color: white"><b> Количество авто -  </b> <span th:text="*{el.Col}"/></p>


  <form  th:action="'/blog/Postavka/' + *{el.id} + '/Edit'">
    <button class="btn btn-warning" type="submit">Изменить</button>
  </form>
  <form th:action="'/blog/Postavka/' + *{el.id} + '/Remove'" method="post">
    <button class="btn btn-warning" type="submit" >Удалить</button>
  </form>
</div>
</body>
</html>